---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import hmLogo from "@images/hm-logo.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Find Me on GitHub"
    url="https://github.com/hrimondal"
  />

  <HeroSection
    title=`Study Smartly, Not <span
        class="text-yellow-500 dark:text-yellow-400">Hardly</span>`
    subTitle="Driven by curiosity and creativity, I’m constantly exploring new ideas, solving problems, and building projects that reflect my passion for learning. This space is a reflection of my journey, where I share my growth, thoughts, and work with the world."
    primaryBtn="Let's Learn Together"
    primaryBtnURL="https://www.steameracademy.me/"
    secondaryBtn="Contact with Me"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={hmLogo}
    alt="Hm's coding style logo"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title="Empowering Learners with Innovative Solutions "
    subTitle="Meeting the needs of modern learners through comprehensive features and personalized educational experiences."
    src={featureImage}
    alt="STEAMer Academy features in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Join <span class="text-yellow-500 dark:text-yellow-400">STEAMer Academy</span>'s offerings to perfectly suit your education needs.`
    tabs={[
      {
        heading: "Interactive Learning Community (Discord Server)",
        content:
          "STEAMer Academy's Discord server is a vibrant space where learners can connect, share knowledge, and collaborate on projects. It serves as a hub for discussions, live tutoring sessions, and group activities, fostering an inclusive environment for students passionate about STEAM subjects.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Free Educational Resources",
        content:
          "We provide a wealth of free, high-quality educational resources tailored to different learning levels. From interactive lessons in Science, Technology, and Mathematics to creative arts tutorials, learners have access to a comprehensive library of materials that help them excel academically.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Personalized Mentorship and Support",
        content:
          "Our mentorship program connects students with experienced mentors who offer guidance on both academic and personal development. This one-on-one support ensures that learners receive tailored advice to enhance their skills, explore new interests, and prepare for future career paths in STEAM fields.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="We on Our Track"
    subTitle="Our dedicated approach ensures that we stay aligned with the evolving needs of learners, constantly improving and expanding our offerings to provide an optimal learning environment."
    ;
    testimonials={[
      {
        content:
          "I am deeply passionate about leveraging innovative educational strategies to foster dynamic, inclusive learning environments. I am excited about the opportunity to contribute to the growth and success of the community, empowering students to thrive in STEAM disciplines.",
        author: "Ashek Elahi Ayman",
        role: "Chief Education Officer | STEAMer Academy ",
        avatarSrc:
          "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
      },
    ]}
    statistics={[
      {
        count: "150+",
        description:
          "Growng a Thriving Learning Community",
      },
      {
        count: "85%",
        description:
          "of growing Satisfaction Rate with STEAMer Academy services",
      },
      {
        count: "50+",
        description:
          "offering a Wide Range of Resources, including Tutorials, Articles, and Project-Based Learning Materials",
      },
      {
        count: "30%",
        description: "Growing Community Engagement in all the events",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Learn Together"
    subTitle="A World of Possibilities, STEAMer Academy Is Here To Guide You On Your Learning Journey."
    url="https://github.com/STEAMer-Academy"
  />
</MainLayout>
